<mat-toolbar>
  <mat-toolbar-row>
    <a class="logo" routerlink="/">
      <img src="./assets/img/game mania.jpg" />
    </a>
    <div class="menu-links">
      <a mat-button routerlink="/">Home</a>
      <a mat-button routerlink="/">Lançamentos</a>
      <a mat-button routerlink="/">Login</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<section>
  <div class="example-label"></div>
  <div class="example-button-row">
    <button mat-raised-button>Game Mania</button>
    <button mat-raised-button color="primary">Home</button>
    <button mat-raised-button color="accent">Lançamentos</button>
    <button mat-raised-button color="warn">Login</button>
    <button mat-raised-button disabled>Comprar com 1 click</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank"
      >Vlog GM</a
    >
  </div>
</section>
